<div id="configuracoesArea" class="example" style="width: 97%">
    <div style="background: #FFF">

<div style="text-align: center">
    <span style="font-weight: bold; font-size: x-large;">Configurações</span>
</div>

<hr>

<div class="spacer"></div>
&nbsp;
<a href="#" id="openConfigCasosArea" class="btn">Casos</a>
<a href="#" id="openConfigOrigensArea" class="btn">Origens</a>
<a href="#" id="openConfigEncaminhamentosArea" class="btn">Encaminhamentos</a>
<div class="spacer"></div>



<hr>


{{ render(controller('DedraksConfigBundle:CasoTipo:index', {'expandir':expandir})) }}    

{{ render(controller('DedraksConfigBundle:Origem:index', {'expandir':expandir})) }} 

{{ render(controller('DedraksConfigBundle:Encaminhamento:index', {'expandir':expandir})) }}    


    </div>
</div>
    
    
<script>
       
    $('#openConfigCasosArea').on('click', function(e) {
        e.preventDefault();
        $('#configCasosArea').toggleClass('oculto');
        
        $('#configOrigensArea').addClass('oculto');
        $('#configEncaminhamentosArea').addClass('oculto');
    });
    
    $('#openConfigOrigensArea').on('click', function(e) {
        e.preventDefault();
        $('#configOrigensArea').toggleClass('oculto');
        
        $('#configCasosArea').addClass('oculto');
        $('#configEncaminhamentosArea').addClass('oculto');
    });
    
    $('#openConfigEncaminhamentosArea').on('click', function(e) {
        e.preventDefault();
        //alert('clicou');
        $('#configEncaminhamentosArea').toggleClass('oculto');
        
        $('#configOrigensArea').addClass('oculto');
        $('#configCasosArea').addClass('oculto');
    });
   
    
        //$('#configCasosArea').addClass('oculto');
   
    $('td[title]').qtip();
    $('a[title]').qtip();
</script>