
<script type="text/javascript">
    {{ chart(chart) }}
</script>




<div style="text-align: center; background: #DEF"><h3>Idade</h3></div>
<div class="spacer"></div>
<div style="clear: both"></div>
    



<div>
<div id="piechart_idades" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>
    <div style="clear: both"></div>