{# CadpazBundle/Resources/views/Relatorios/index.html.twig #}


<id id="relatoriosInicio"></div>


<div id="relatoriosArea" class="example" style="width: 825px">
    <div style="background: #FFF; text-align: center" id="relatoriosDados">
  
        <strong>Relatórios padrão</strong><br>
        
        <div style="border: 1px solid; border-color: #E2E2E2; text-align: left">
            
            <input id="selecionarTodos" type="checkbox">
            <label for="selecionarTodos">Selecionar todos</label><br><br>
            
        {{ form(padraoForm) }}
        </div>
        
        
        
        <hr>
        <strong>Relatorios personalizados</strong><br>
        {{ form(customForm) }}
        
        <strong>Filtros definidos:</strong>
        <div id="filtrosMostrar" style="font-weight: bold; width: 60%; text-align: left;"></div>
       
        {#
        {% image '@CadpazBundle/Resources/public/images/button_add2.png' %}
            <a href="#" id="adicionarFiltro"><img src="{{ asset_url }}" alt="Adicionar" /></a></td>
        {% endimage %}<br>
        #}
        
        <div id="filtrosArea" class="example" style="display: none; width: 400px; background: rgba(100,100,100,1.0);"></div>
        <hr>
        
        
{#
        
    <span style="font-weight: bold; font-size: x-large;">Relatório de uso</span>
    <hr>
    <p>Relatório dos atendimentos feitos no sistema.</p>
    <footer><hr></footer>
    

</div>
</div>

<div class="spacer"></div>

{#
<div id="outro" class="example" style="width: 825px">
    <div style="background: #FFF">
    {% image '@CadpazBundle/Resources/public/images/print-icon2.png' %}
        <a title="Imprimir relatório" href="#" class="printRel"><img src="{{ asset_url }}" alt="Remover" /></a></td>
    {% endimage %}
<a href="#" class="scrollToTop">Início da página</a>
    </div>
</div>
#}

<script>
    $('html, body').animate({
            scrollTop: $("#relatoriosInicio").offset().top
        }, 2000);
    
    $('.scrollToTop').on('click', function(e) {
        e.preventDefault();
        
        $('html, body').animate({
            scrollTop: $("#relatoriosInicio").offset().top
        }, 2000);
    });
    
    function printContent(el){
        var restorepage = $('body').html();
        var printcontent = $(el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
        }
    
    $('.printRel').on('click', function(e) {
        e.preventDefault();
        printContent('#relatoriosArea');
        //alert($('#relatoriosArea').html());
    });
    
    $('#tbl_cas, #tbl_enc, #tbl_ori, #tbl_sex').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false
    });
    
    $('a[title]').qtip({position: {
        my: 'top right',  // Position my top left...
        at: 'top left', // at the bottom right of...);
        target: $('#outro')
    }});




    $('#relCasos').change(function() {
        if (this.checked) {
            $('#relCasosOpcoes').show();
        }
        else {
            $('#relCasosOpcoes').hide();
        }
    });
    $('#relOrigens').change(function() {
        if (this.checked) {
            $('#relOrigensOpcoes').show();
        }
        else {
            $('#relOrigensOpcoes').hide();
        }
    });
    $('#relEncaminhamentos').change(function() {
        if (this.checked) {
            $('#relEncaminhamentosOpcoes').show();
        }
        else {
            $('#relEncaminhamentosOpcoes').hide();
        }
    });
    $('#relRenda').change(function() {
        if (this.checked) {
            $('#relRendaOpcoes').show();
        }
        else {
            $('#relRendaOpcoes').hide();
        }
    });
    $('#relIdades').change(function() {
        if (this.checked) {
            $('#relIdadesOpcoes').show();
        }
        else {
            $('#relIdadesOpcoes').hide();
        }
    });
    $('#relCor').change(function() {
        if (this.checked) {
            $('#relCorOpcoes').show();
        }
        else {
            $('#relCorOpcoes').hide();
        }
    });
    $('#relSexo').change(function() {
        if (this.checked) {
            $('#relSexoOpcoes').show();
        }
        else {
            $('#relSexoOpcoes').hide();
        }
    });
    
    
    
    
    $("#form_camposSelect").select2({
        width: '100%',
        multiple: 'multiple',
        placeholder: "Clique para adicionar os campos desejados",
    });
    
    $('#customRelForm').ajaxForm({
        url: Routing.generate('relatorios_index'),
        success: function(responseText) {
            //alert(responseText);
            $('#relatoriosDados').html(responseText);
        }
    });
    $('#padraoRelForm').ajaxForm({
        url: Routing.generate('relatorios_index'),
        success: function(responseText) {
            //alert(responseText);
            $('#relatoriosDados').html(responseText);
        }
    });
    
    
    
    $('#form_sexoFitro').hide();
    var incFiltro = 0;
    $('#form_adicionarFiltro').on('click', function(e) {
        e.preventDefault();
       
       
       $.ajax({
           url: Routing.generate('relatorios_filtros'),
           success: function(responseText) {
               $('#filtrosArea').html(responseText);
               window.popup = $('#filtrosArea').bPopup({
                            speed: 650,
                            transition: 'slideIn',
                            transitionClose: 'slideBack',
                            zindex: 9999,
                            onClose: function() {
                                content.empty();
                                $("#filtroRelForm").remove();
                            }
                        });
           }
       });
       
    });
    
    var textoFiltros = '';

    $('#form_limparFiltros').on('click', function(e) {
        e.preventDefault();
        textoFiltros = '';
        $('#form_filtro').val(textoFiltros);
        $('#filtrosMostrar').html( textoFiltros );
    });



    $('#selecionarTodos').on('change', function() {
        
            $(':checkbox').prop('checked', this.checked);
            //$("label[for='" + this.id + "']").text("Selecionar nenhum");
            //alert('');
    });
    
    $(':checkbox').not('#selecionarTodos').on('change', function() {
        
        //alert('ok');
        
        var tudoCheckado = true;
        $(':checkbox').not('#selecionarTodos').each(function(index) {
            
            
            if ( ! this.checked)
                tudoCheckado = false;
        });
        
        $('#selecionarTodos').prop('checked', tudoCheckado);
    });
</script>
