{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>#}


<id id="relatoriosInicio"></div>


<div id="relatoriosArea" class="example" style="width: 97%">
    <div style="background: #FFF">
    <span style="font-weight: bold; font-size: x-large;">Relatório de uso</span>
    <hr>
    <p>Relatório dos atendimentos feitos no sistema.</p>
    <footer><hr></footer>
    
    
{% render controller('CadpazBundle:Relatorios:casos') %}
<footer><hr></footer>

{% render controller('CadpazBundle:Relatorios:origens') %}
<footer><hr></footer>

{% render controller('CadpazBundle:Relatorios:encaminhamentos') %}
<footer><hr></footer>

{% render controller('CadpazBundle:Relatorios:rendaFamiliar') %}
<footer><hr></footer>

 {% render controller('CadpazBundle:Relatorios:idades') %}
<footer><hr></footer> 


{% render controller('CadpazBundle:Relatorios:sexos') %}
<footer><hr></footer> 

{% render controller('CadpazBundle:Relatorios:cores') %}
<footer><hr></footer> 

</div>
</div>

<div id="outro" class="relButtons">
    {% image '@CadpazBundle/Resources/public/images/print-icon2.png' %}
        <a title="Imprimir relatório" href="#" class="printRel"><img src="{{ asset_url }}" alt="Remover" /></a></td>
    {% endimage %}
<a href="#" class="scrollToTop">Início da página</a>
</div>

<script>
    $('html, body').animate({
            scrollTop: $("#relatoriosInicio").offset().top
        }, 2000);
    
    $('.scrollToTop').on('click', function(e) {
        e.preventDefault();
        
        $('html, body').animate({
            scrollTop: $("#relatoriosInicio").offset().top
        }, 2000);
    });
    
    function printContent(el){
        var restorepage = $('body').html();
        var printcontent = $(el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
        }
    
    $('.printRel').on('click', function(e) {
        e.preventDefault();
        printContent('#relatoriosArea');
        //alert($('#relatoriosArea').html());
    });
    
    $('#tbl_cas, #tbl_enc, #tbl_ori, #tbl_sex').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false
    });
    
    $('a[title]').qtip({position: {
        my: 'top right',  // Position my top left...
        at: 'top left', // at the bottom right of...);
        target: $('#outro')
    }});
</script>