
<script type="text/javascript">
    {{ chart(chart) }}
</script>

<div style="text-align: center"><h3>Sexos</h3></div>
<div class="spacer"></div>
<div style="clear: both"></div>

{#<div style="float: left; width: 30%">#}
<div>
{#Encaminhamentos:<br>#}
<table id="tbl_sex" class="display compact">
    <thead class="tabela_pequena">
        <tr>
            <th>Sexo</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody class="tabela_pequena">
{% for sexo in sexos %}
    <tr>
        <td>{{ sexo.sexo }}</td><td> {{ sexo.total }}</td> 
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
    {#<div style="float: right; width: 70%">#}
    <div>
<div id="piechart_sexos" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>
    <div style="clear: both"></div>