<div class="meio">

 

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a id="cancelarNovoAtendimento" href="#">Cancelar</a>

</div>

<script>
    
        //window.casoAtendimentos = $("#atendimentos_area").html();
    
        function showNewAtendimentoResponse(responseText, statusText, xhr, $form)  { 




                $("#caso_area").html(responseText);
                //$("#userDetails").hide();
                //$("#userDetails").css('visibility','visible');
                //$("#userDetails").slideUp(400);
                //$("#userDetails").delay(600).slideDown(400);
            }

        var optionsAtendimento = {
          success: showNewAtendimentoResponse,
          type: 'post',
          url: Routing.generate('atendimento_new',{'caso_id':{{caso_id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newAtendimentoForm').ajaxForm(optionsAtendimento);
        
        
        
        jQuery('#cancelarNovoAtendimento').on('click', function(e) {
        
            //alert(window.casoAtendimentos);
        
            //$("#userDetails").slideUp('fast');
            $("#new_atendimento_area").html("");
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
</script>