{% for telefone in telefones %}
                    <div class="telefone_endereco_secao">
                        <div class="telefoneTitulo"><strong>Numero:</strong> {{ telefone.numero }}</div>
                        <div class="documento">
                        Tipo: {{ telefone.tipo }}<br />
                        {{ telefone.padrao ? "Telefone padrão<br>" : "" }}
                        Obs: {{ telefone.obs }}
                        </div>
                    </div>
                    <div class="spacer"></div>
                {% endfor %}
