{% extends "::base.html.twig" %}

{% block title %}CadpazBundle:Pessoa:index{% endblock %}
{% block stylesheets %}
    {% stylesheets '@CadpazBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
<script type="text/javascript">$(document).ready(function(){	$("#cpf").mask("999.999.999-99");	$("#botaoValidarCPF").click(function() {	   if($("#cpf").val() == '') {			$("#saida").html("Informe um CPF");			return false;	   }	   if(validarCPF($("#cpf").val())) {			$("#saida").html("<span style='color: green'>CPF Válido!</span>");	   } else {			$("#saida").html("<span style='color: red'>CPF Inválido!</span>");	   }	});});</script>
{% endblock %}

{% block body %}
<h1>Welcome to the Pessoa:index page</h1>

    <form id="form1" class="form-wrapper cf" method="get" action="/cadpaz/web/pessoa/busca">
        <input id="cpf" class="saida" name="cpf" type="text" placeholder="Pesquisar CPF..." required>
        <button id="botaoValidarCPF">Pesquisar</button>
    </form> 
<div id="saida"></div>
<br /><br />

Nome
<input id="searchNome" type="text" name="search" />
-
CPF
<input id="searchCPF" type="text" name="search" />
<br />
<div id="searchResults"></div>

{% endblock %}
{% block javascripts %}
    {% javascripts '@CadpazBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        // prepare the form when the DOM is ready 
        $(document).ready(function() { 
            var options = { 
                target:        '#saida',   // target element(s) to be updated with server response 
                //beforeSubmit:  showRequest,  // pre-submit callback 
                success:       showResponse  // post-submit callback 

                // other available options: 
                //url:       {{ path('pessoa_busca', {'id':'11111111111'}) }}         // override for form's 'action' attribute 
                //type:      type        // 'get' or 'post', override for form's 'method' attribute 
                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
                //clearForm: true        // clear all form fields after successful submit 
                //resetForm: true        // reset the form after successful submit 

                // $.ajax options can be used here too, for example: 
                //timeout:   3000 
            }; 

            // bind form using 'ajaxForm' 
            $('#form1').ajaxForm(options); 
        }); 
        
        // post-submit callback 
        function showResponse(responseText, statusText, xhr, $form)  { 
            // for normal html responses, the first argument to the success callback 
            // is the XMLHttpRequest object's responseText property 

            // if the ajaxForm method was passed an Options Object with the dataType 
            // property set to 'xml' then the first argument to the success callback 
            // is the XMLHttpRequest object's responseXML property 

            // if the ajaxForm method was passed an Options Object with the dataType 
            // property set to 'json' then the first argument to the success callback 
            // is the json data object returned by the server 

            alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
                '\n\nThe output div should have already been updated with the responseText.'); 
        } 
    </script>
    
    
    <script type="text/javascript">
    $('#searchNome').keyup(function(event) {

        if (event.which == 27 || event.which == 13)
        {
            event.preventDefault();
            return;
        }

        searchText = $(this).val();

        //alert(searchText);
        $('#searchResults').html('<h2>'+searchText+'</h2>');
   });
    </script>

    
    <script type="text/javascript">
    /*var CPF = new CPF();
    document.getElementById('cpf').mas
document.getElementById('botaoValidarCPF').onclick = function(){
    document.getElementById('saida').innerHTML = CPF.valida(document.getElementById('cpf').value);
};*/

/*
$( "#form1" ).submit(function( event ) {
    var inputtedPhoneNumber = $( "#cpf" ).val();
 
 
 
    // If the phone number doesn't match the regex
    if ( !isCPF( inputtedPhoneNumber ) ) {
 
        $("#saida").html('CPF Inválido!');
        event.preventDefault();
    } else {
 
        // Run $.ajax() here
    }
});*/
    </script>
{% endblock %}
