<div class="meio">

     <div style="width: 100%; background: #ddd; font-weight: bold; text-align: center;">PIS</div>

    <div class="spacer"></div>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a class="cancel" href="#">Cancelar</a>

</div>

<script>

        function showNewPisResponse(responseText, statusText, xhr, $form)  { 




                $("#userDetails").html(responseText);
                //$("#userDetails").hide();
                //$("#userDetails").css('visibility','visible');
                //$("#userDetails").slideUp(400);
                //$("#userDetails").delay(600).slideDown(400);
            }

        var optionsPis = {
          success: showNewPisResponse,
          type: 'post',
          url: Routing.generate('pessoa_pis_new',{'id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newPisForm').ajaxForm(optionsPis);
        
        
        
        jQuery('.cancel').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
    </script>