<div class="meio">

    <strong>Título Eleitoral</strong>
    <div class="spacer"></div>
    
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a class="cancel" href="#">Cancelar</a>
</div>

<script>

        function showNewTituloResponse(responseText, statusText, xhr, $form)  { 




                $("#userDetails").html(responseText);
                //$("#userDetails").hide();
                //$("#userDetails").css('visibility','visible');
                //$("#userDetails").slideUp(400);
                //$("#userDetails").delay(600).slideDown(400);
            }

        var optionsTitulo = {
          success: showNewTituloResponse,
          type: 'post',
          url: Routing.generate('pessoa_titulo_new',{'id':{{id}}})
        };
        // bind form using 'ajaxForm' 
        $('#newTituloForm').ajaxForm(optionsTitulo);
        
        jQuery('.cancel').on('click', function(e) {
        
            //$("#userDetails").slideUp('fast');          
            $("#userDetails").html(window.userDetails);
            //$("#userDetails").slideDown('fast');

            e.preventDefault();
        });
        

            $('#cadpazbundle_titulo_uf').select2();

    </script>