
<div style="text-align: center">
<span style="font-weight: bold; font-size: large;">Editar usuário</span><br>
</div>
<br>

{{ form(edit_form) }}

{#        <ul class="record_actions">
    <li>
        <a href="{{ path('config_user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
#}
