<div style="text-align: center">
<span style="font-weight: bold; font-size: large;">Cadastrar usuário</span><br>
</div>
<br>

    {{ form(form) }}
{#
        <ul class="record_actions">
    <li>
        <a href="{{ path('config_user') }}">
            Back to the list
        </a>
    </li>
</ul>

#}
<script>
$('#userForm').ajaxForm({
    success: function(responseText) {
        $("#dataArea").html(responseText);
        window.configPopup.close();
    }
});
</script>